table {
  width: 100%;
}
.content-button-search {
  display: flex;
  margin-top: -18px;
  form {
    background-color: #fff;
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 20px;
    .button-search {
      height: 35px;
      width: 100%;
      margin: 15px;
      border-radius: 6px;
      border: 1px solid grey;
      outline: none;
      cursor: pointer;
      padding: 19px 30px;
      box-sizing: border-box;
    }
  }
  .Button-Filter {
    background-color: #45ca7c;
    width: 80px;
    color: white;
    padding: 5px;
    font-size: 0.95em;
    // border-radius: 6px;
    cursor: pointer;
    display: block;
    margin-left: 10px;
    line-height: 2;
    text-align: center;
    height: 27px;
    margin-top: 20px;
    &:hover {
      background-color: grey;
    }
  }
  .fa-menu-perfl-login-35 {
    color: white;
  }
}

table.table-camp,
.table-camp td {
  border-collapse: collapse;
}
table.table-camp th {
  border-collapse: collapse;
}

table.table-camp {
  thead {
    tr {
      background: #e6e7eb;
      padding: 30px;
      height: 60px;
      th {
        padding: 0px 10px;
        .content-header {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        i {
          cursor: pointer;
          margin-left: 4px;
        }
      }
      .name {
        text-align: start;
      }
    }
  }
  tbody {
    td {
      padding: 4px 0px;
      &:first-child {
        div {
          border-left: 2px solid #e6e7eb;
          border-radius: 5px 0px 0px 5px;
          text-align: center;
        }
      }
      &:last-child {
        div {
          border-right: 2px solid #e6e7eb;
          border-radius: 0px 5px 5px 0px;
          text-align: center;
        }
      }
      .user {
        text-align: start;
      }
      .total {
        text-align: end;
      }
      .container-outline {
        border: 2px solid #e6e7eb;
        border-left: none;
        border-right: none;
        padding: 10px 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .status-tooltip {
      display: flex;
      border-radius: 5px;
      align-items: center;
      padding: 2px 4px;
      width: 100%;
      text-align: center;
      justify-content: center;

      &.published {
        background-color: green($color: #000000);
      }

      &.pending {
        background-color: orange;
      }

      &.rejected {
        background-color: red;
      }

      &.acepted {
        background-color: green;
      }

      &.in-review {
        background-color: yellow;
      }

      i {
        margin-right: 0.2em;
        font-size: 0.9em;
      }

      span {
        margin: 0;
        font-size: 0.8em;
        color: white;
        font-weight: 400;
        line-height: 19px;
      }
    }
  }
  tfoot {
    tr {
      padding: 30px;
      height: 40px;

      td {
        padding: 4px 0px;

        &:first-child {
          div {
            border-left: 2px solid green;
            border-radius: 5px 0px 0px 5px;
            background: #e6e7eb;
          }
        }
        &:last-child {
          div {
            border-right: 2px solid green;
            border-radius: 0px 5px 5px 0px;
            text-align: center;
            background: #e6e7eb;
          }
        }
        .user {
          text-align: start;
        }
        .total {
          text-align: end;
        }
        .container-outline {
          border: 2px solid green;
          border-left: none;
          border-right: none;
          padding: 10px 100px;
          font-weight: bold;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .container-outline-second {
          border: 2px solid green;
          border-left: none;
          border-right: none;
          padding: 10px 100px;
          font-weight: bold;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }}}
      }
