<div class="navbar">
  <div class="container">
    <!-- MENUS -->
    <!-- MENU HORIZONTAL -->
    <div fxShow fxHide.lt-md id="container-buttons">
      <a id="btn-mobile-homepage" routerLinkActive="active"  (click)="login()" routerLink="/login">Login</a>
      <a id="btn-mobile-homepage" routerLinkActive="active"  (click)="logOut()" routerLink="/login">LogOut</a>
      <a id="btn-mobile-homepage" routerLinkActive="active" routerLink="/admin">Administradores</a>
      <a id="btn-mobile-homepage" routerLinkActive="active" routerLink="/create">Create User</a>
      <a id="btn-mobile-homepage" routerLinkActive="active" routerLink="/user">Edit User</a>
    </div>
  </div>
</div>
