<body>
  <div class="container">
      <h1>Please Login</h1>
      <form>
          <div class="form-control">
              <input type="text"  [(ngModel)]="email" placeholder="Email" name="email"required>
              <label></label>

          </div>

          <div class="form-control">
              <input type="password" [(ngModel)]="password" placeholder="Password" name="password"required>
              <label></label>
          </div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
          <button class="btn" (click)="redirectLogin()">Login</button>

          <p class="text">Don't have an account? <a href="#">Register</a></p>
      </form>


  </div>

  <script src="script.js"></script>
</body>
